.pp-testimonials .layout-3 .pp-testimonials-image {
    float: none;
    margin: 0 auto 20px;
    text-align: center;
    width: 100%;
}
.pp-testimonials .layout-3 .layout-3-content {
    float: none;
    text-align: center;
    width: 100%;
}
