.fl-module-fl-post-navigation .nav-links {
	display: flex;
}
.fl-module-fl-post-navigation .nav-links .nav-previous {
	width: 100%;
}
.fl-module-fl-post-navigation .nav-links .nav-next {
	text-align: right;
	width: 100%;
}
.fl-module-fl-post-navigation .screen-reader-text {
    clip: rect(1px,1px,1px,1px);
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
