/**
 * This file should contain frontend styles that
 * will be applied to all module instances.
 */

.pp-logo-grid-input.input-small {
	width: 46px !important;
}

.pp-logos-content .logo-slider-prev, .pp-logos-content .logo-slider-next {
    position: absolute;
    top: 30%;
    left: -6px;
}

.pp-logos-content .logo-slider-next {
    right: -6px;
    left: auto;
}

.pp-logos-content .logo-slider-prev a, .pp-logos-content .logo-slider-next a {
    text-decoration: none;
    box-shadow: none;
    border: none;
}