.fl-builder-settings-tab-description {
    background-color: #f2dede;
    border-color: #ebccd1;
    border: 1px solid transparent;
    border-radius: 4px;
}

.pp-google-map {
	height: 300px;
	width: 100%;
}
.pp-google-map .gm-style .gm-svpc div img {
	position: unset !important;
}